<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style-about.css" />
  </head>
  <body>
    <h1>About</h1>

    <p>
      Welcome to the Brad Pitt site, dedicated to one of the most recognizable
      and talented actors in Hollywood. Brad Pitt has been captivating audiences
      for decades with his unforgettable performances and striking good looks.
      He has appeared in numerous box office hits and critically acclaimed
      films, establishing himself as one of the industry's most sought-after
      leading men. With a career spanning over 30 years, Brad Pitt has showcased
      his acting range in a variety of genres, from dramas like "Fight Club" and
      "The Curious Case of Benjamin Button" to action movies like "Mr. and Mrs.
      Smith." He has also received numerous accolades for his work, including
      multiple Academy Award nominations and wins. Beyond his successful acting
      career, Brad Pitt is also known for his philanthropic efforts and
      commitment to social causes. He has been involved in various charitable
      organizations and has used his platform to raise awareness for issues such
      as poverty, homelessness, and environmental conservation. This website is
      dedicated to providing fans with the latest news and updates on Brad
      Pitt's life and career. From his upcoming projects to his personal life,
      we strive to keep you informed about all things Brad Pitt. Thank you for
      visiting and we hope you enjoy exploring this site dedicated to one of
      Hollywood's most beloved stars.
    </p>
    <img class="photo" src="/images/fight-club.jpg" />
  </body>
</html>
