<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Brad Pitt</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/works">Works</a>
      <a href="/about">About</a>
      <a href="/photos">Photos</a>
    </nav>
    <p>
      William Bradley Pitt is an American actor and film producer. He is the
      recipient of various accolades, including two Academy Awards, two British
      Academy Film Awards, two Golden Globe Awards, and a Primetime Emmy Award.
    </p>
    <img id="home-image" src="/images/home.jpg" />
  </body>
</html>
