<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style-works.css" />
  </head>
  <body>
    <h2>Early life and work</h2>
    <div class="container">
      <img class="photo" src="/images/home.jpg" />
      <p>
        Pitt grew up in Springfield, Missouri, and attended (1983–87) the
        University of Missouri before dropping out just short of graduation to
        move to California and pursue an acting career. After playing minor
        television and movie roles, Pitt captured the public’s attention as a
        charming scoundrel in the film Thelma & Louise. He followed up with such
        movies as A River Runs Through It, Interview with the Vampire, and
        Legends of the Fall (1994). Pitt then starred as a police detective in
        the gritty thriller Se7en (1995) and as a demented malcontent in the
        fantasy 12 Monkeys (1995), for which he won a Golden Globe Award and was
        nominated for an Oscar.
      </p>
    </div>
    <h2>Films from the late 1990s and beyond</h2>
    <div class="container">
      <img class="photo" src="/images/bastard.jpg" />
      <p>
        Pitt deliberately played against type as Austrian mountain climber
        Heinrich Harrer in Seven Years in Tibet (1997), an Irish Republican Army
        terrorist in The Devil’s Own (1997), a modern-day personification of
        death in Meet Joe Black (1998), and an underground boxer in Fight Club
        (1999). In 2000 Pitt married actress Jennifer Aniston. The following
        year he starred in Ocean’s Eleven, a comedy caper about con artists. The
        film was a major success and led to the sequels Ocean’s Twelve (2004)
        and Ocean’s Thirteen (2007). In 2004 Pitt portrayed the Greek warrior
        Achilles in Troy. The action comedy Mr. & Mrs. Smith (2005) paired Pitt
        with actress Angelina Jolie, with whom he became romantically involved.
        Pitt continued to lend his talents to films covering a wide range of
        subject matter, including Babel (2006), a film that traces the
        intersecting lives of characters from divergent backgrounds, and the
        period western The Assassination of Jesse James by the Coward Robert
        Ford (2007). Pitt further demonstrated his versatility in 2008,
        portraying a dim-witted would-be blackmailer in the Coen brothers’ Burn
        After Reading and a man who ages backward in the poignant fantasy The
        Curious Case of Benjamin Button. His chameleonic turn in the latter film
        earned him an Academy Award nomination for best actor. Brad Pitt in
        Inglourious Basterds Brad Pitt in Inglourious Basterds Brad Pitt on the
        set of Inglourious Basterds Brad Pitt on the set of Inglourious Basterds
        In 2009 Pitt starred in Quentin Tarantino’s Inglourious Basterds, a
        World War II drama about a group of Jewish American soldiers trained to
        kill Nazis in German-occupied France. The following year Pitt provided
        the voice of the superhero rival of the titular villain in the animated
        film Megamind. In Terrence Malick’s impressionistic drama The Tree of
        Life (2011), he played a domineering father in 1950s Texas. Pitt later
        scored another best actor Oscar nomination, for his performance as
        real-life general manager Billy Beane in the baseball drama Moneyball
        (2011). The film chronicles how Beane assembled successful teams with
        the Oakland Athletics by using statistics to acquire cheaper,
        less-well-known players. Pitt subsequently starred as a mob enforcer in
        the crime drama Killing Them Softly (2012) and as a former United
        Nations investigator fighting to contain a zombie pandemic in the
        thriller World War Z (2013). Pitt had supporting roles in 12 Years a
        Slave (2013)—which was based on the true story of Solomon Northup, a
        free person of colour who was kidnapped and sold into slavery in the
        mid-19th century—and in the crime drama The Counselor (2013). In Fury
        (2014) he played an American army sergeant commanding the remnants of a
        decimated battalion during the last days of World War II. The following
        year Pitt reteamed with Jolie, this time in By the Sea, a marital drama
        she also wrote and directed. He then portrayed a morally grounded former
        investment banker in the black comedy The Big Short (2015), about the
        2008 financial crisis. In the World War II thriller Allied (2016), Pitt
        starred as a Canadian intelligence officer whose wife (Marion Cotillard)
        might be a German spy. In 2017 he portrayed a four-star general in War
        Machine, a military satire that was released on Netflix.
      </p>
    </div>
    <h2>Personal life and humanitarian causes</h2>
    <div class="container">
      <img class="photo" src="/images/brad2.jpeg" />
      <p>
        Pitt’s involvement with Jolie and his 2005 divorce from Aniston were
        intensely scrutinized by the tabloid press. In 2006 Pitt adopted Jolie’s
        two children, Maddox and Zahara, whom she had adopted from Cambodia and
        Ethiopia, respectively. The couple had their first biological child,
        Shiloh, in May 2006. The next year they adopted a boy, Pax, from
        Vietnam, and in 2008 they added biological twins, Knox and Vivienne, to
        their family. Pitt and Jolie married in 2014, but two years later Jolie
        filed for divorce. The couple often used their celebrity status as a
        platform for speaking out on behalf of a number of humanitarian causes.
        Pitt cofounded and was actively involved in Not on Our Watch, a campaign
        that directed resources to developing countries in crisis, notably the
        Sudanese province of Darfur. In 2006 he established the Make It Right
        Foundation, a multimillion-dollar project to construct environmentally
        friendly homes in New Orleans for people displaced by Hurricane Katrina.
        The undertaking attracted numerous high-profile architects, but it was
        plagued by construction issues that resulted in several legal disputes.
        Notably, in 2015 the foundation sued the wood supplier after a number of
        completed homes began rotting; the suit was settled out of court. Three
        years later homeowners filed a class-action lawsuit against the
        foundation, alleging poor construction; in 2022 Make It Right agreed to
        pay the plaintiffs $20.5 million. Pitt was also interested in art, and
        in 2022 he exhibited a number of sculptures at a museum in Finland. His
        “brutally honest” works included a miniature house assembled from tree
        bark and tape.
      </p>
    </div>
  </body>
</html>
