.photo {
  max-height: 200px;
  width: auto;
  float: left;
  margin: 2rem;
}
body {
  background-color: rgb(58, 92, 175);
  text-align: center;
}

p {
  padding: 20px;
  font-size: 24px;
}
p {
  font-size: 24px;
  text-align: center;
  color: white;
}
